body{
    background-image: linear-gradient(red, yellow, green);
    color: black;
    font-weight: 500;
}
.header{

    border: 8px black solid; 
    overflow: hidden;
   margin-bottom: 20px;
   color: white;
  background-color:black;
}
.el{
    text-align: center;
    font-size: 80px;
    padding-left: 50px;
    display: inline;
    padding-top: 25px;
    font-weight: 900;
}
.headerimg{
    height: 200px;
    float: left;
    overflow: auto;
    padding: 10px;
    background-color: black;
}
.click1{
    padding-left: 30px;
    font-size: 40px;
    color: white;
    font-weight: 600;

}
.click2{
    padding-left: 30px;
    font-size: 40px;
    color: white;
    font-weight: 600;

}
.click3{
    padding-left: 30px;
    font-size: 40px;
    color: white;
    font-weight: 600;

}
.el:hover{
    color: red;
}
.click1:hover{
    color: red;
}
.click2:hover{
    color:green;
}
.click3:hover{
    color: rgb(238, 255, 0);
}
.el:hover{
    color: red;
}
.footer{
    margin-top: 20px;
}
piccol{
height: 800px;
}
.imgmainpage{
    margin-top: 30px;
}
/* contact */
#contactscenter{
    text-align: center;
}
.contacttitel{
    font-size: 90px;
    font-weight: 900;
    color: red;
    margin-bottom: 20px;
}
.bodyinfo{
   font-size: 35px;
}
.contacttext{
    text-align: center;
    font-size: 40px;
}
.contacttexthover{
    text-align: center;
    font-size: 40px;
    color: rgb(78, 25, 25);
   font-weight: 600;
}
.contacttexthover:hover{
    color: red;
}
.contactbodytitle{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}
/* menu */
.titlemenuSection{
    margin-top:40px;
    border: black 5px solid;
   background-color: rgb(0, 255, 21);
   border-radius: 20px;
}
.raspadosmenu{
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    color: rgb(0, 0, 0);
}
.menufont{
    text-align: center;
    font-size: 35px;
}
.prices{
    text-align: center;
    /* background-color: white; */
    color:black;
    margin-left: 5px;
    font-weight: 700;
    border-radius: 5px;
}